
body {
    font-family: Arial, sans-serif;
    background-color: #F8F8FF;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #8A2BE2;
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    margin-bottom: 2rem;
}
